name: wechat-sport-robot

on:
  workflow_dispatch:
  schedule:
    - cron: '0 4 * * *'

jobs:
  run-python-script:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
      - name: 'Set up Python'
        uses: actions/setup-python@v2
        with:
          python-version: '3.12.0'
      - name: 'Install requirements'
        run: pip install requests==2.26.0
      - name: 'Working'
        env:
          ACCOUNT: ${{ secrets.ACCOUNT }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: python ./main.py
